doctype html5
html(lang="es")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="style.css")
    
    title Login
  body
    nav#navigate
      .flex-item.colorWhite Toshiba-Satellite
      .text-right
      
          i.fa.fa-volume-up.colorWhite
          
          i(class="fa fa-battery-full inlineblock colorWhite") 
          
          #hora.flex-item.text-center.text-right.colorWhite.inlineblock 
          
          i( class="fa fa-power-off colorWhite" style = "cursor:pointer;")
        
    .principal
    
      
    
  
